.block-video_video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.home{
  &__section6{
    background: #f6f6f6;
    .uk-container-expand-left{
      @include media-breakpoint-up('m'){
        padding-left: 0;
        max-width: calc(50% + (1400px / 2) - 20px);
      }
    }
    &__txt1{
      @extend .fz-60;
      color: #ddb142;
      line-height: 1.11;
      font-family: $font-HelveticaNeue-Bold;
    }
    &__txt2{
      font-family: $font-HelveticaNeue-Bold;
      @extend .fz-45;
      color: #020202;
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 30px;
        @include media-breakpoint-up('m'){
          margin-top: 100px;
        }
      }
    }
    &__box1{
      border-radius: 4px;
      box-shadow: 0px 7px 8px 2px rgba(41, 41, 41, 0.25);
      &__body{
        @include media-breakpoint-up('m'){
          padding: 20px;
        }
        &__rotate{
          @include media-breakpoint-up('m'){
            //top: 15px;
            //height: -webkit-max-content;
            //left: -5px;
            //position: absolute;
            //transform: scale(-1) translate(-50%, 50%);
          }
          transform: rotate(-180deg);
          writing-mode: vertical-lr;
        }
        &__txt1{
          color: #000;
          @extend .fz-18;
          text-transform: uppercase;
          font-family: $font-HelveticaNeue-Bold;
        }
        &__txt2{
          color: #000;
          @extend .fz-18;
        }
        &__price{
          color: #000;
          @extend .fz-18;
          font-family: $font-HelveticaNeue-Bold;
        }
      }
    }
  }
  &__section5{
    @include media-breakpoint-up('m'){
      min-height: 300px;
    }
    &__title{
      @extend .fz-60;
      font-family: $font-modern_regular;
      color: #020202;
    }
  }
  &__section4{
    background-color: #f4f4f4;
    box-shadow: 0px 10px 15px 0 rgba(90, 90, 90, 0.2);
    &__title{
      @extend .fz-60;
      color: #ddb142;
      font-family: $font-HelveticaNeue-Medium;
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 20px;
        @include media-breakpoint-up('m'){
          margin-top: 40px;
        }
      }
    }
    &__icon{
      background-repeat: no-repeat;
      background-position: center;
      background-size: 55%;
      svg{
        opacity: 0;
      }
    }
    &__input{
      @extend .fz-32;
      border-left: none;
      border-right: none;
      border-top: none;
      border-color: #626262;
      background-color: transparent !important;
    }
    &__btn{
      background: #ddb142;
      border-color: #ddb142;
      color: #ffffff;
      $x:50px;
      @include media-breakpoint-up('m'){
        line-height: calc(#{$x} - 2px);
      }
      span{
        @extend .fz-28;
      }
    }
  }
  &__section3{
    &__txt{
      @extend .fz-60;
      font-family: $font-modern_regular;
    }
  }
  &__section2{
    padding-top: 0px;
    padding-bottom: 20px;
    @include media-breakpoint-up('m'){
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .uk-container{
      @include media-breakpoint-up('m'){
        padding-right: 0;
        max-width: calc(50% + (1400px / 2) - 20px);
      }
    }
    &__slider{
      margin-left: -15px;
      margin-right: -15px;
      @include media-breakpoint-up('m'){
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__boxLeft{
      @include media-breakpoint-up('m'){
        max-width: 485px;
      }
      &__title1{
        color: #ddb142;
        @extend .fz-60;
        font-family: $font-HelveticaNeue-Bold;
      }
      &__title2{
        color: #020202;
        @extend .fz-45;
        font-family: $font-HelveticaNeue-Bold;
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 20px;
        @include media-breakpoint-up('m'){
          margin-top: 30px;
        }
      }
    }
  }
  &__section1{
    .uk-container{
      @include media-breakpoint-up('m'){
        padding-right: 0;
        max-width: calc(50% + (1400px / 2) - 20px);
      }
    }
    @include media-breakpoint-up('m'){
      padding-top: 0;
      padding-bottom: 0;
    }
    &__video{
      margin-left: -15px;
      margin-right: -15px;
      @include media-breakpoint-up('m'){
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__boxLeft{
      @include media-breakpoint-up('m'){
        max-width: 485px;
      }
      &__btnMore{
        text-transform: inherit;
        background: #ddb142;
        border-color: #ddb142;
        color: #ffffff;
        $x:50px;
        @include media-breakpoint-up('m'){
          line-height: calc(#{$x} - 2px);
        }
        span{
          font-family: $font-HelveticaNeue-Bold;
          @extend .fz-18;
        }
        &:before{
          content: "";

        }
      }
      &__title{
        @extend .fz-80;
        text-transform: uppercase;
        color: #ddb142;
        font-family: $font-modern_regular;
      }
      &__txt1{
        @extend .fz-55;
        color: #020202;
        font-family: $font-Athiti-Regular;
      }
      &__txt2{
        @extend .fz-24;
        color: #020202;
      }
      &__item{
        &:nth-child(n+2){
          margin-top: 20px;
          @include media-breakpoint-up('m'){
            margin-top: 46px;
          }
        }
      }
    }
    &__radius{
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &__overlay{
      background: linear-gradient(to bottom, rgba(0, 10, 32, 0.9) 0%, rgba(0, 35, 85, 0.7) 100%);
    }
    &__btnPlay{
      width: 51px;
      @include media-breakpoint-up('m'){
        width: 81px;
      }
      display: block;
      padding-top: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}